*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.main-container {
  background-color: #fff;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cell {
  height: 15px;
  width: 15px;
  border: 0.5px solid #faf6f6;
  background-color: #747272;
}

.cellAlive {
  background-color: #e1fa06;
}

.button {
  padding: 10px 15px;
  background-color: #747272;
  color: #fff;
  font-family: inherit;
  border-radius: 12px;
  border: none;
}

cellspacing {
}
