*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.main-container {
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell {
  height: 15px;
  width: 15px;
  border: 0.5px solid #000;
  background-color: #fff;
}

.cellAlive {
  background-color: #000;
}
